

*{
	box-sizing: border-box;
	
}
body{
	font-family: arial, sans-serif;
	background: #2ecc71;
}
.body{
	margin:50px;
	max-width: 600px;
	padding: 60px;
}
.form{
	background: #d1d8e0;
	padding: 10px;

}
h2{
	width:600;
	font-size: 25px;
	text-align: center;
	color: white;

}
